OS: Windows 8.1 64-bit
Browsers tested:
- Opera 40.0 Portable
- Firefox 39.0.3 and 43.0.1
- Google Chrome Version 53.0.2785.116 m
- Internet Explorer 11

Questions (incl. consent form) on all browsers: "Continue" button only partly / not visible if it's at the bottom (even if we scroll down as much as possible). I think the problem is that just below the Continue button is the end of the page, and scrolling is only allowed down to the end, while the status bar appears over it and blocks the view.

Problem on IE11: 
- default magnification too big
- got stuck at 20% (Binary and Likert; 67% for the Silly study) each time I tried (after doing Reload on the same page that got stuck, it remained stuck on 0%): after hitting "Continue", the same question (situation) appears, it's an endless loop, until hitting the Continue button doesn't even restart that question.

Problem on Opera:
- progress bar appears at the very bottom of the screen behind the Windows task bar and is thus not visible.


Behaviour when visiting a page and then navigating back to the study (I don't think this is really important):
- Firefox, Opera and Chrome: remembers the last position
- IE: skips back to 0% and first question, then after Continue, skips to the next new question after the last position before break-off (e.g., 50%).


General comments (not bugs):

In general, I think the layout and design is just perfect for our purposes. There are just a few things I think would best be changed:

1) If the subject does not tick both boxes under the consent form, they arrive at a "dead end" page. The info that is displayed there is fine, but there should either be a button to go back (for those users who don't simply go back via the browser), or these error messages should be displayed (pop up, or an error message pop-up like the "Please select a value" message in the tasks) on the consent form page.

2) It'd be better to drop the "Situation" and "Sentence" headings in the tasks. On my part, I think they make the task better readable/parsable, but I've never seen such a solution in linguistics studies, and it's better to remain as close to "tradition" as possible for now.

3) Maybe it would be bettter if there were a bigger distance between the radio buttons of False and True.

4) We could maybe use a bigger font size. Sure, people can increase zoom in their browser but still, it's better to be readable right off.
