h1 {
    font-size: 5.9vw;
}
h2 {
    font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}

.inline {display:inline;}
.is_hidden {display:none;}
.description { margin:1em;
               padding: 0 5px 0 5px;
               font-style: italic;
 }

div.answer, div.situation, div.sentence { margin:1em; }

div.answer {
    padding-bottom: 30px;
    white-space: nowrap;
}

.scaledescription {
    padding: 1%;
    display: inline-block;
    word-wrap: break-word !important;
}

.progress{
    margin-bottom: 1px !important;
}

form.scale.inline > input {
    margin-left: 1%;
    margin-right: 1%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#content {
  margin-bottom: -60px;
  padding-bottom: 60px;
}

.footer {
  height: 60px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.footer > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
