.inline {display:inline;}
.is_hidden {display:none;}
.description { margin:1em;
               padding: 0 5px 0 5px;
               font-style: italic;
 }

.first-submit {
    margin-top: 1em;
}

div.form-content, div.answer, div.situation, div.sentence { margin:1em; }

div.answer {
    white-space: nowrap;
}

.scaledescription {
    padding: 1%;
    display: inline-block;
    word-wrap: break-word !important;
    font-family: monospace;
    /*padding: 2px 4px;*/
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.progress{
    margin-bottom: 0px !important;
    height: 2em;
}

.progress .sr-only { position: relative; }

.progress-bar{
    height: 100%;
    display: block;
}

.scaleitem {
  display: inline-block;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.scaleitem label {
  display: block;
}

span.text-bold {
    font-weight: bold;
}

span.text-italic {
    font-style: italic;
}

span.line {
  display: inline-block;
}
